.main {
  display: flex;
}
.side {
  border: solid black;
  height: 100vh;
  width: 25%;
  background-color: #323b4c;
  color: white;
  padding-left: 10px;
}
.profilepic {
  border: solid blue;
  border-radius: 150px;
  margin-left: 5px;
  margin-top: 7px;
  margin-bottom: 5px;
  height: 210px;
}
.contact {
  margin-left: 10px;
}
.mainPage {
  border: solid blue;
  border-width: 0.5px;
  height: 100vh;
  width: 100%;
  padding-left: 20px;
  padding-right: 30px;
}
.name {
  height: 200px;
}
.experience {
  height: 700px;
}
.expItem {
  border-left: solid black;
  padding-bottom: 10px;
  padding-left: 20px;
}
.referenceItems {
  display: flex;
  justify-content: space-evenly;
}
.refCon {
  display: flex;
  align-items: center;
}
h4 {
  padding-right: 10px;
}
